# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


dist/
release/
*.exe
*.dmg
*.AppImage

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

*Zone.Identifier

# Environment variables
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
